/* Google Fonts. CSS rules to specify families: font-family: 'Work Sans', sans-serif;
font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ---------- Fonts & text ----------*/

.jnav-text {
    color: #43257F;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.header-text {
    color: #748795;
}

.leading-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    color: #43257F;
    font-weight: 700;
    padding-top: 30px;
    text-align: center;
}

.jay-quote {
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #43257F;
    text-align: center;
}

/* ---------- Colours ---------- */

/* ---------- Images, photos, videos ---------- */

/* ---------- Padding, margins, backgrounds, etc ----------*/

.home-recordings-section {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

/* ---------- Media queries ---------- */

@media screen and (min-width: 600px) {
    .leading-text {
        max-width: 60%;
        margin: 0 auto;
            }
}

/* ---------- Header ---------- */

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.jaynav {
    opacity: 1.0;
    background-color: #ffffff; 
}

/* ---------- Footer ---------- */

footer {
    background-color: #E3B723;
    color: #43257F;
    height: 0px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
}

.fa-icon {
    width: 35px;
    height: 35px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 15px;
    text-align: center;
    color: #43257F;
    /* background: #43257F; */
}

/* ------------------------- PAGE: INDEX----- */

/* ------------------------- PAGE: LOCATION ----- */

/* ------------------------- PAGE: QUIZ ----- */
/* ------------------------- quiz: flexbox; NO LONGER REQUIRED IF NEW GRID LAYOUT WORKS AS EXPECTED ----- */
.container-quiz-04{
    display: flex;
    max-height: 360px;
}

.left-quiz {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-quiz {
    flex: 1;
    display: flex;    
}

.left-quiz-a {
    flex: 1;
}

.left-quiz-b {
    flex: 1;
}

.left-quiz-c {
    flex: 1;
}

.left-quiz-d {
    flex: 1;
}

/* ------------------------- quiz: layout ----- */
.box-q01 {
    margin: 100px;
}

.box-q02 {
    margin: 50px;
}

.img-q02 {
    padding-right: 10px;
}

/* ------------------------- quiz: images ----- */
.img-q01 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 360px;
}

.img-q02 {
    background-size: contain;
    height: 150px;
    max-width: 200px;
}

.img-q03 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 40px;
}

.img-q04 {
max-width: 60%;
height: auto;
}

/* ------------------------- NOT FORMATTED YET ----- */
.hill-rhino-img {
    background: url("../images/hill-black-rhinoceros.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* ------------------------- quiz: buttons: STILL TEMPORARY FORMATTING----- */
.btn-q {
    color: #000000;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    text-align: left;
}
.btn-q:hover{
    color: #a3a0a0;
    background-color: #3a0949;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.box-q {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #310949
}

/* ------------------------- quiz: text ----- */
.txt-q01 {
    text-transform: uppercase;
}

/* ------------------------- PAGE: CONTACT ----- */


/* ------------------------- LOCATION TEST: COPIED & NOT MODIFIED AT ALL YET. MUST BE CHANGED - NOT INTERESTING ----- */

.hill-rhino-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .hill-rhino-img:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-image {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
/* Add Animation */
.modal-image {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-image {
      width: 100%;
    }
  }
  
    